/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: rgb(255,186,54);
}

.container {
    position: relative;
    max-width: 700px;
    width: 30%;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.container header {
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    text-align: center;
}

.container .form {
    margin-top: 30px;
}

.form .input-box {
    width: 100%;
}

.input-box label {
    color: #333;
}

.form .input-box input,
.form.select-box {
    position: relative;
    height: 50px;
    width: 95%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
    margin-bottom:2%;
}

.input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.form .column {
    display: flex;
    column-gap: 15px;
}

.form .gender-box {
    margin-top: 20px;
}

.gender-box h3 {
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
}

.form .gender-option,
.form .gender {
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
}

.form .gender {
    column-gap: 5px;
}

.gender input {
    accent-color: rgb(130, 106, 251);
}

.form .gender input,
.form .gender label {
    cursor: pointer;
}

.gender label {
    color: #707070;
}

.address input,
.address .select-box {
    margin-top: 15px;
}

.select-box select {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #707070;
    font-size: 1rem;
}

.form button {
    height: 55px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    background: rgb(255,186,54);
}

.form button:hover {
    background: rgb(56,159,212);
}
/*Responsive*/
@media screen and (max-width: 500px) {
    .form .column {
        flex-wrap: wrap;
    }

    .container {
        width: 100%;
    }

    .form .gender-option,
        .form .gender {
        row-gap: 15px;
    }
}

/*new starts here*/



.emailText{
    display: block;
    font-weight: 300;
    font-style: italic;
    padding: 5px;
}

label.valid .emailText {
    color: #389FD4;
    font-weight:bold;
}

label.invalid .emailText {
    color: #f00;
}

label.valid::before,
label.invalid::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    /*top: 8px;*/
    right: 5px;
    z-index: 100;
    margin-right:25%;
}


#text {
    display: block;
    color: #000;
    font-weight: 300;
    font-style: italic;
    padding: 5px;
}

label.valid::before {
    background: url("public/Images/check.svg")no-repeat center /cover;
}

label.invalid::before {
    background: url("public/Images/error.png")no-repeat center /cover;
}


/*background-image: url(images/nickcage.jpg);*/

.signInLink a:hover {
    text-decoration: none;
}

.fp{
    float: left;
    margin-top: 2%;
}

.SI {
    float: right;
    margin-top:2%;
}


.fp a {
    text-decoration:none;
}

.SI a {
    text-decoration: none;
}


.fp a:hover {
    text-decoration:underline;
}

.SI a:hover {
    text-decoration: underline;
}

.required label {
    font-weight: bold;
}

.required label:after {
    color: #e32;
    content: ' *';
    display: inline;
}



input {
    padding: 11px 15px;
    border-radius: 25px;
    border: 0px;
    box-shadow: 0px 8px 25px 0px rgba(0,0,0,.05);
    transition: all .25s ease;
    min-width: 250px;
}
input.valid ~ .icons .check{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
input.invalid ~ .icons .x{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
.icons {
    position: absolute;
    right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    width: 20px;
    height: 20px;
    transition: all .25s ease;
    margin-top: -10%;
}
i {
    position: absolute;
    transition: all .25s ease;
    font-size: 1.3rem;
    opacity: 0;
    visibility: hidden;
    transform: scale(.5);
}
.check {
    color: #3aba6f;
    text-shadow: 0px 5px 10px rgba(58, 186, 111, .3);
}
.x {
    color: rgb(240, 90, 92);
    text-shadow: 0px 5px 10px rgba(240, 90, 92, .3);
}
input:focus {
    transform: translate(0,-6px);
    box-shadow: 0px 15px 25px 0px rgba(0,0,0,.09);
    padding-left: 20px;
}
input:focus ~ .icons {
    transform: translate(0, -6px);
}
